.aboutHeader {
    font-size: 18px;
    text-transform: uppercase;
    opacity: .6;
}

.brandIdentities > div , .illustrations > div{
    display: flex;
    /* width: 200%; */
    flex-wrap: nowrap;
    overflow-x: auto;
    /* overflow-x: hidden; */
}
.aboutMain {
    font-size: 2em;
}
.aboutMain, .imgCollection2 > div > p {
    padding: 20px;
}
.imgCollection2 > div > p  {
    font-style: italic;
    font-size: 1.2em;
}
.illustrations h5, .brandIdentities h5{
    font-size: 1.5em;
    padding: 10px;
    padding-bottom: 0;
}
.illustrations a .brandIdentities a {
    font-size: 1.2em;
}
.brandIdentities > div p, .illustrations > div p{
    flex: 0 0 auto;
    width: 250px;
    height: 400px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}
.brandIdentities > div p {
    width: 300px;
    height: 200px;
    margin: 15px;
}

.illustration1 {
    background-image: url(../assets/illustration1.jpg);
}
.illustration2 {
    background-image: url(../assets/illustration2.png);
}
.illustration3 {
    background-image: url(../assets/illustration3.jpg);
}
.illustration4 {
    background-image: url(../assets/illustration4.jpg);
}
.logo1 {
    background-image: url(../assets/logo1.jpg);
}
.logo2 {
    background-image: url(../assets/logo2.jpg);
}
.logo3 {
    background-image: url(../assets/logo3.png);
}
.logo4 {
    background-image: url(../assets/logo4.png);
}


@media(min-width: 800px) {
    .brandIdentities > div , .illustrations > div{
        justify-content: space-around;
    }
}