.aboutHeader {
    font-size: 18px;
    text-transform: uppercase;
    opacity: .6;
}

.brandIdentities > div , .illustrations > div{
    display: flex;
    justify-content: space-around;
    /* width: 200%; */
    flex-wrap: nowrap;
    overflow-x: auto;
    /* overflow-x: hidden; */
}
.brandIdentities > div p, .illustrations > div p{
    flex: 0 0 auto;
    width: 300px;
    height: 400px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.brandIdentities > div p {
    width: 200px;
    height: 200px;
}

.illustration1 {
    background-image: url(../assets/illustration1.png);
}
.illustration2 {
    background-image: url(../assets/illustration2.png);
}
.illustration3 {
    background-image: url(../assets/illustration3.jpg);
}
.illustration4 {
    background-image: url(../assets/illustration4.jpg);
}
.logo1 {
    background-image: url(../assets/logo1.jpg);
}
.logo2 {
    background-image: url(../assets/logo2.jpg);
}
.logo3 {
    background-image: url(../assets/logo3.png);
}
.logo4 {
    background-image: url(../assets/logo4.png);
}


@media(min-width: 800px) {
    
}